/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/spec/dummy/db/*.sqlite3
/spec/dummy/db/*.sqlite3-*
/spec/dummy/log/*.log
/spec/dummy/storage/
/spec/dummy/tmp/
.claude
.ai
coverage
/spec/dummy/log/*
rspec_output.txt
.dev/
